.new-contents {
  background-color: #f9fafa;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", 
  "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.new-header {
  padding: 7vh 0;
  text-align: center;
}

.title {
  background-color: #FFF;
  width: 50vw;
  min-width: 450px;
  padding: 5vh 15vw;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.time {
  background-color: #FFF;
  width: 50vw;
  min-width: 450px;
  padding: 1vh 15vw;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.content {
  background-color: #FFF;
  width: 50vw; 
  min-width: 450px;
  padding: 1vh 15vw;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.submit {
  background-color: rgb(197, 235, 247);
  width: 50vw;
  min-width: 450px;
  padding: 1vh 15vw;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}